<h2>
  <strong>Color:</strong>
  <%= @backpack.color %>
</h2>

<h3>
  <strong>Capacity:</strong>
  <%= @backpack.capacity %>
</h3>

<p>
  <strong>Pockets:</strong>
  <%= @backpack.pockets %>
</p>

<p>
  <strong>Waterproof:</strong>
  <%= @backpack.waterproof %>
</p>

<p>
  <%= link_to 'Edit', edit_backpack_path(@backpack)%> |
  <%= link_to 'Back', backpacks_path%>
</p>